.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 1px;
  overflow: hidden; /* Ensures image corners are rounded with the card */
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  border: 1px solid #ddd;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 16px;
}

.card-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; /*botao vai ficar no rodape sempre*/
}

.card-botao{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
